* {
    margin:0;
    box-sizing: border-box;
}
body {
    width: 1000px;
    height: 1000px;
}

.center-tide {
    display: flex;
    justify-content: center;

}

.space-between {
    display: flex;
    justify-content: space-between;

}

div {
    border: 2px black solid;
}