

@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

body {
   box-sizing: border-box; 
    
}
.row{
    justify-content: space-evenly;
    
}

.jumbotron {
    background-color: rgb(238, 238, 215);
    font-family: 'Chango', cursive;
    font-weight: lighter;
}

